*.elf
.tmuxrc
*.hex
*.bin
*.sublime-project
*.sublime-workspace
*.swp
*.swo
AppTest
*.map
*.txt
tags
*.mat
*.js
*.html
*.dmr
*.autosave
*.css
*.png
*.gif
*.tmw
*.rsp
*.swn
*.swp
mbd/cache
mbd/codegen/slprj
